{% extends 'layout.html.twig' %}
{% block content %}
    {% if unauthorized %}
        <div class="callout alert">
            <h5 class="text-center">Vous devez être connecté pour pouvoir consulter votre compte.</h5>
        </div>
    {% else %}

        <section id="amountRequest" class="grid-container">
            <h2 class="type-sidelines custom-2"><span>mes contributions</span></h2>
            <div class="grid-x grid-margin-x">
            {% for amount in amounts %}
                <div class="small-12 medium-6 columns" id="titleProject">
                    <h5>ma contribution de {{ amount['amount'] }} euro</h5>
                    <h5>le  {{ amount['date']|date("d-m-Y") }}</h5>
                    <h5>sur le projet : {{ amount['title'] }}</h5>
                    <h5>{{ amount['short_description'] }}</h5>
                    <img class="projectHolder" id="amountImg" src="{{ amount['little_picture'] }}">
                </div>
            {% endfor %}
            </div>
        </section>

        <section id="threeProjects" class="grid-container">
            <h2 class="type-sidelines custom-2"><span> plus de projets </span></h2>
            <div class="grid-x grid-margin-x">
                {% for project in projects %}
                    <div class="small-12 medium-6 columns" id="titleProject">
                        <div>
                            <h3>{{ project['title'] }}</h3>
                            <p>{{ project['short_description'] }}</p>
                            <p>{{ amount['id_user'] }}</p>
                            <p>{{ amount['amount'] }}</p>
                            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuetext="{{ project['percent'] }} %" aria-valuemax="100">
                        <span class="progress-meter" style="width: {{ project['percent'] }}%;">
                        <p class="progress-meter-text">{{ project['percent'] }}%</p></span>
                            </div>
                            <p class="text-right">{{ project['collected'] }}€ / {{ project['amount'] }}€</br>
                                {{ project['time_left'] }} j restants</p>
                            <p id="moreProject">par  {{ project['first_name'] }}  {{ project['name'] }} <img
                                        class="projectHolder"
                                                                                           src="{{ project['avatar'] }}"></p>
                        </div>
                    </div>
                {% endfor %}
        </section>

        <section id="commentListRequest" class="grid-container">
                    <h2 class="type-sidelines custom-2"><span>mes derniers commentaires</span></h2>
            <div class="grid-x grid-margin-x">
                {% for comment in comments %}
                    <div class="small-6 medium-2 columns">
                        <h5>projet :{{ comment['id_project'] }}</h5>
                        <i>" {{ comment['comment'] }} "</i>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
